<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ivan Lyin' - Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css', v='1.2')}}">
</head>
<body>
    <script>
        let MY_ROLE = "";
        const pagePath = window.location.pathname;
        window.addEventListener('load', ()=>{
            if (pagePath.includes("admin")){
                MY_ROLE = "admin";
                let adminVisibleElems = document.getElementsByClassName("admin_visible");
                for (elem of adminVisibleElems){
                    elem.classList.remove("hide_me")
                }
            }
            if (pagePath.includes("ivan")){
                MY_ROLE = "ivan";
                let ivanVisibleElems = document.getElementsByClassName("ivan_visible");
                for (elem of ivanVisibleElems){
                    elem.classList.remove("hide_me")
                }
            }
            if (pagePath.includes("player")){
                MY_ROLE = "player";
                let playerVisibleElems = document.getElementsByClassName("player_visible");
                for (elem of playerVisibleElems){
                    elem.classList.remove("hide_me")
                    if (elem.id == "how_everyone_voted")
                    {
                        alert("Removing class");
                    }
                }
            }
            if (pagePath.includes("projector")){
                MY_ROLE = "projector";
                let projectorVisibleElems = document.getElementsByClassName("projector_visible");
                for (elem of projectorVisibleElems){
                    elem.classList.remove("hide_me")
                }
            }
        });
        

        const GAME_STATES = [
            "welcome",
            "question_pending",
            "answering_question",
            "voting_answer",
            "showing_answers",
            "showing_score"
        ];

        let CURRENT_GAME_STATE = GAME_STATES[0];
        let MY_USERNAME = "";
        let CURRENT_QUESTION = "";
        let IS_ALREADY_RENDERED_VOTES = false;
        let IS_ALREADY_RENDERED_ANSWERS = false;
        let IS_ALREADY_RENDERED_SCOREBOARD = false;
        let IS_ALREADY_REENABLED_ALL_BUTTONS = true;

        function renderPageCurrentGameState(){
            for (const gameState of GAME_STATES){
                let currElement = document.getElementById(gameState);
                if (CURRENT_GAME_STATE == gameState){
                    currElement.style.display = "flex";
                }
                else{
                    currElement.style.display = "none";
                }
            }
        }

        function renderClearLiveFeedNewPlayers(){
            let liveFeedNewPlayersElem = document.getElementById("live_feed_new_players");
            liveFeedNewPlayersElem.innerHTML = "";
        }

        function renderAdditionalLiveFeedNewPlayers(playerUsername){
            let liveFeedNewPlayersElem = document.getElementById("live_feed_new_players");
            let newPlayerElem = document.createElement("div");
            newPlayerElem.classList.add("new_player");
            newPlayerElem.textContent = playerUsername;
            liveFeedNewPlayersElem.appendChild(newPlayerElem);
        }

        function renderLiveCounterNewPlayers(counter){
            let liveCounterNewPlayersElem = document.getElementById("live_counter_new_players");
            liveCounterNewPlayersElem.textContent = `${counter} peeps`;
        }

        function renderCurrentQuestion(){
            let currentQuestionElems = document.getElementsByClassName("current_question");
            for (let currentQuestionElem of currentQuestionElems){
                currentQuestionElem.textContent = CURRENT_QUESTION;
            }
        }
        
        function renderClearLiveFeedNewAnswers(){
            let liveFeedNewAnswersElem = document.getElementById("live_feed_new_answers");
            liveFeedNewAnswersElem.innerHTML = "";
        }

        function renderAdditionalLiveFeedNewAnswers(username, newAnswer){
            let liveFeedNewAnswersElem = document.getElementById("live_feed_new_answers");
            let newAnswerElem = document.createElement("div");
            newAnswerElem.classList.add(`${username}`);
            newAnswerElem.classList.add(`new_player`);
            newAnswerElem.textContent = `${username}: ${newAnswer}`;
            liveFeedNewAnswersElem.appendChild(newAnswerElem);
        }

        function renderLiveCounterNewAnswers(counter, numPlayers){
            let liveCounterNewAnswersElem = document.getElementById("live_counter_new_answers");
            liveCounterNewAnswersElem.textContent = `${counter} / ${numPlayers} are Locked In™ `;
        }

        function renderClearVoteForUserForm(){
            let voteForUserFormElem = document.getElementById("vote_for_user_form");
            voteForUserFormElem.innerHTML = "";
        }

        function renderAdditionalVoteForUserForm(username, answer){
            let voteForUserFormElem = document.getElementById("vote_for_user_form");
            let newVoteElem = document.createElement("button");
            newVoteElem.textContent = answer;
            newVoteElem.classList.add("vote_button")
            newVoteElem.onclick = () => {
                voteForUser(username, MY_USERNAME);
                let voteButtons = document.getElementsByClassName("vote_button");
                for (let voteButton of voteButtons){
                    voteButton.disabled = true;
                }
            };
            voteForUserFormElem.appendChild(newVoteElem);
        }

        function renderClearLiveFeedNewVoters(){
            let liveFeedNewVotersElem = document.getElementById("live_feed_new_voters");
            liveFeedNewVotersElem.innerHTML = "";
        }

        function renderAdditionalLiveFeedNewVoters(playerUsername, votedForUsername){
            let liveFeedNewVotersElem = document.getElementById("live_feed_new_voters");
            let newVoterElem = document.createElement("div");
            newVoterElem.classList.add("new_voter");
            newVoterElem.textContent = `${playerUsername} voted for ${votedForUsername}'s answer`;
            liveFeedNewVotersElem.appendChild(newVoterElem);
        }

        function renderLiveCounterNewVoters(counter, numVoters){
            let liveCounterNewVotersElem = document.getElementById("live_counter_new_voters");
            liveCounterNewVotersElem.textContent = `${counter} / ${numVoters} are Locked In™`;
        }
        
        
        function delay(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        function fisherYatesShuffle(array) {
            let currentIndex = array.length;

            // While there remain elements to shuffle...
            while (currentIndex != 0) {

                // Pick a remaining element...
                let randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex--;

                // And swap it with the current element.
                [array[currentIndex], array[randomIndex]] = [
                array[randomIndex], array[currentIndex]];
            }
        }

        async function renderHowEveryoneVoted(playerUsername, playerAnswer, votingUsernames, correctPersonUsername){
            let howEveryoneVotedElem = document.getElementById("how_everyone_voted");
            let votingUsernamesString = votingUsernames.join(", ");
            if (votingUsernames.length == 0){
                votingUsernamesString = "No one";
            }
            
            howEveryoneVotedElem.innerHTML = `
            <div id="the_answer">${playerAnswer}</div>
            `;
            await delay(4000);
            howEveryoneVotedElem.innerHTML += `
            <div id="voted_for_it"><b>${votingUsernamesString}</b> thought it was ${correctPersonUsername}'s answer...</div>
            `;
            await delay(3000);
            howEveryoneVotedElem.innerHTML += `
            <div id="answerer">It was <b>${playerUsername}</b>'s answer!</div>
            `;
            return Promise.resolve();
        }

        function renderHowEveryoneScoredThisRound(playersAndTheirScores){
            let howEveryoneScoredElem = document.getElementById("how_everyone_scored");
            let finalHTML = `<div id="this_round_scores">On this Question:</div>`;
            for (playerAndHisScore of playersAndTheirScores){
                let playerUsername = playerAndHisScore[0];
                let playerScore = playerAndHisScore[1];
                let playerAnswer = playerAndHisScore[2];
                finalHTML += `<div class="leaderboard_entry">`;
                finalHTML += `<div class="leaderboard_username_score_group">`;
                finalHTML += `<div class="leaderboard_username">${playerUsername}</div>`;
                finalHTML += `<div class="leaderboard_score">${playerScore}</div>`;
                finalHTML += `</div>`;
                finalHTML += `<div class="leaderboard_answer">${playerAnswer}</div>`;
                finalHTML += `</div>`;
            }
            howEveryoneScoredElem.innerHTML = finalHTML;
        }

        function renderHowEveryoneScoredOverall(playersAndTheirScores){
            let howEveryoneScoredElem = document.getElementById("how_everyone_scored");
            let finalHTML = `<div id="overall_scores">Overall leaderboard:</div>`;
            for (playerAndHisScore of playersAndTheirScores){
                let playerUsername = playerAndHisScore[0];
                let playerScore = playerAndHisScore[1];
                finalHTML += `<div class="leaderboard_entry">`;
                finalHTML += `<div class="leaderboard_username_score_group">`;
                finalHTML += `<div class="leaderboard_username">${playerUsername}</div>`;
                finalHTML += `<div class="leaderboard_score">${playerScore}</div>`;
                finalHTML += `</div>`;
                finalHTML += `</div>`;
            }
            howEveryoneScoredElem.innerHTML = finalHTML;
        }

        async function getGameDataAndRenderEverything(){
            const response = await fetch("/get_game_data");
            const gameData = await response.json();
            CURRENT_GAME_STATE = gameData["current_state"];
            renderPageCurrentGameState();
            CURRENT_QUESTION = gameData["questions"][gameData["current_question_idx"]];
            renderCurrentQuestion();
            
            switch(CURRENT_GAME_STATE){
                case "welcome":
                    if (!IS_ALREADY_REENABLED_ALL_BUTTONS){
                        const buttons = document.querySelectorAll('button');
                        // Enable all buttons
                        buttons.forEach(button => {
                            button.disabled = false;
                        });
                        IS_ALREADY_REENABLED_ALL_BUTTONS = true;
                    }
                    
                    renderClearLiveFeedNewPlayers();
                    let numJoinedPlayers = Object.keys(gameData["players"]).length;
                    for (const playerUsername in gameData["players"]){
                        renderAdditionalLiveFeedNewPlayers(playerUsername);
                    }
                    renderLiveCounterNewPlayers(numJoinedPlayers);
                    break;
                case "question_pending":
                    if (!IS_ALREADY_REENABLED_ALL_BUTTONS){
                        const buttons = document.querySelectorAll('button');
                        // Enable all buttons
                        buttons.forEach(button => {
                            button.disabled = false;
                        });
                        IS_ALREADY_REENABLED_ALL_BUTTONS = true;
                    }
                    IS_ALREADY_RENDERED_ANSWERS = false;
                    IS_ALREADY_RENDERED_SCOREBOARD = false;
                    IS_ALREADY_RENDERED_VOTES = false;
                    break;
                case "answering_question":
                    IS_ALREADY_REENABLED_ALL_BUTTONS = false;
                    renderClearLiveFeedNewAnswers();
                    let totalNumPlayers = Object.keys(gameData["players"]).length;
                    let numPlayersWhoSubmittedAnswers = 0
                    for (const playerUsername in gameData["players"])
                    {
                        const player = gameData["players"][playerUsername];
                        const playerAnswer = player["question_answer_pairs"][CURRENT_QUESTION];
                        if (playerAnswer != null){
                            numPlayersWhoSubmittedAnswers++;
                            renderAdditionalLiveFeedNewAnswers(playerUsername, playerAnswer);
                        }
                    }
                    renderLiveCounterNewAnswers(numPlayersWhoSubmittedAnswers, totalNumPlayers);
                    break;
                case "voting_answer":
                    if (!IS_ALREADY_RENDERED_VOTES){
                        renderClearVoteForUserForm();
                        let shuffledPlayerUsernames = Object.keys(gameData["players"]);
                        fisherYatesShuffle(shuffledPlayerUsernames);
                        for (const playerUsername of shuffledPlayerUsernames)
                        {
                            if (playerUsername == MY_USERNAME)
                            {
                                continue;
                            }
                            const player = gameData["players"][playerUsername];
                            const playerAnswer = player["question_answer_pairs"][CURRENT_QUESTION];
                            if (playerAnswer != null){
                                renderAdditionalVoteForUserForm(playerUsername, playerAnswer);
                            }
                        }
                        IS_ALREADY_RENDERED_VOTES = true;
                    }
                    renderClearLiveFeedNewVoters();
                    let numPlayersWhoHaveVoted = 0;
                    const totalNumVoters = Object.keys(gameData["players"]).length - 1;
                    for (const playerUsername in gameData["players"])
                    {
                        const player = gameData["players"][playerUsername];
                        const personPlayerVotedFor = player["question_person_i_voted_for_pairs"][CURRENT_QUESTION];
                        if (personPlayerVotedFor != null){
                            numPlayersWhoHaveVoted += 1;
                            renderAdditionalLiveFeedNewVoters(playerUsername, personPlayerVotedFor);
                        }
                    }
                    renderLiveCounterNewVoters(numPlayersWhoHaveVoted, totalNumVoters);
                    break;
                case "showing_answers":
                    if (!IS_ALREADY_RENDERED_ANSWERS){
                        IS_ALREADY_RENDERED_ANSWERS = true;
                        const correctPersonUsername = gameData["correct_person_username"];
                        let shuffledPlayerUsernames = Object.keys(gameData["players"]);
                        fisherYatesShuffle(shuffledPlayerUsernames);
                        for (const playerUsername of shuffledPlayerUsernames){
                            if (playerUsername == correctPersonUsername)
                            {
                                continue;
                            }
                            const player = gameData["players"][playerUsername];
                            const playerAnswer = player["question_answer_pairs"][CURRENT_QUESTION];
                            const votingUsernames = player["question_people_that_voted_for_my_answer_pairs"][CURRENT_QUESTION];
                            await renderHowEveryoneVoted(playerUsername, playerAnswer, votingUsernames, correctPersonUsername);
                            await delay(3000);
                        }

                        const player = gameData["players"][correctPersonUsername];
                        const playerAnswer = player["question_answer_pairs"][CURRENT_QUESTION];
                        const votingUsernames = player["question_people_that_voted_for_my_answer_pairs"][CURRENT_QUESTION];
                        await renderHowEveryoneVoted(correctPersonUsername, playerAnswer, votingUsernames, correctPersonUsername);
                    }
                    break;
                case "showing_score":
                    if (!IS_ALREADY_RENDERED_SCOREBOARD){
                        IS_ALREADY_RENDERED_SCOREBOARD = true;
                        const response = await fetch("/compute_scores_for_the_round");
                        const gameData = await response.json();
                        let playersAndTheirScoresForThisQuestion = [];
                        for (const playerUsername in gameData["players"]){
                            if (playerUsername == gameData["correct_person_username"]){
                                continue;
                            }
                            const player = gameData["players"][playerUsername];
                            const playerScoreForThisQuestion = Number(player["question_score_earned_pairs"][CURRENT_QUESTION]);
                            const playerAnswerToThisQuestion = player["question_answer_pairs"][CURRENT_QUESTION];
                            playersAndTheirScoresForThisQuestion.push([playerUsername, playerScoreForThisQuestion, playerAnswerToThisQuestion]);
                        }
                        playersAndTheirScoresForThisQuestion.sort((a, b) => b[1] - a[1]);
                        renderHowEveryoneScoredThisRound(playersAndTheirScoresForThisQuestion);
                        await delay(6000);

                        let playersAndTheirScoresOverall = [];
                        for (const playerUsername in gameData["players"]){
                            if (playerUsername == gameData["correct_person_username"]){
                                continue;
                            }
                            const player = gameData["players"][playerUsername];
                            const playerScore = Number(player["score"]);
                            playersAndTheirScoresOverall.push([playerUsername, playerScore]);
                        }
                        playersAndTheirScoresOverall.sort((a, b) => b[1] - a[1]);
                        renderHowEveryoneScoredOverall(playersAndTheirScoresOverall);
                    }
                    break;
                default:
                    break;
            }
            return Promise.resolve();
        }

        async function advanceGameState(){
            const response = await fetch("/advance_game_state");
        }

        async function startOver(){
            const response = await fetch("/start_over");
        }


        async function addNewPlayer(){
            const newPlayerUsernameInputElem = document.getElementById("intext_new_player_username");
            const newPlayerUsername = newPlayerUsernameInputElem.value.replace(/\s+/g, "");
            
            let fetch_path = "";
            if (MY_ROLE == "ivan"){
                fetch_path = "/add_ivan";
            }
            else{
                fetch_path = "/add_new_player";
            }

            const response = await fetch(fetch_path, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    "new_player_username": newPlayerUsername,
                }),
            });
            MY_USERNAME = newPlayerUsername;
        }

        async function addNewQuestion(){
            const newQuestionInputElem = document.getElementById("intext_new_question");
            const newQuestion = newQuestionInputElem.value;
            const response = await fetch("/add_new_question", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    "new_question": newQuestion,
                }),
            });
        }

        async function addNewAnswerToCurrentQuestion(){
            const newAnswerInputElem = document.getElementById("intext_new_answer");
            const newAnswer = newAnswerInputElem.value;
            const response = await fetch("/add_new_answer_to_current_question", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    "new_answer": newAnswer,
                    "player_username": MY_USERNAME,
                }),
            });
        }

        async function voteForUser(votedForUsername, playerUsername){
            const response = await fetch("/vote_for_user", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    "voted_for_username": votedForUsername,
                    "player_username": MY_USERNAME,
                }),
            });
        }
        

        document.addEventListener('DOMContentLoaded', () => {
            // Get all button elements on the page
            const buttons = document.querySelectorAll('button');

            // Add a click event listener to each button
            buttons.forEach(button => {
                button.addEventListener('click', function() {
                    if (this.id == "button_advance_game_state" || this.id == "button_start_over"){
                        // Don't disable this
                    }else{
                        this.disabled = true; // Disable the button
                    }
                    
                });
            });
        });
        async function runLoop(){
            while (true){
                await getGameDataAndRenderEverything();
                await delay(500);
            }
        }
        
        runLoop();

        // setInterval(()=>{getGameDataAndRenderEverything}, 500);
    </script>
    
    <div id="debug"></div>

    <div id="welcome" class="phase_wrapper">
        <div class="phase_banner">Welcome to Ivan Lyin'!</div>
        <img src="{{ url_for('static', filename='images/IvanPenguins.png') }}" class="bottom_left_image hide_me widescreen_visible ">
        
        <div id="new_player_form" class="player_visible ivan_visible buttoned_form hide_me">
            <img src="{{ url_for('static', filename='images/BL_DozingIvan.png') }}" class="bottom_left_peek mobilescreen_visible hide_me">
            <label class="form_label">Your name</label>
            <input type="text" id="intext_new_player_username" class="buttoned_intext" autofocus>
            <button id="button_add_new_player" class="intexted_button" onclick="addNewPlayer()">Lock In™ </button>
        </div>

        <div id="live_counter_new_players" class="projector_visible admin_visible hide_me live_counter">
            6 peeps
        </div>
        
        <div class="live_wrapper">
            
            <div id="live_feed_new_players" class="projector_visible admin_visible hide_me live_feed">
                <div class="new_player">KingIvan</div>
                <div class="new_player">Charles</div>
                <div class="new_player">Caleb</div>
                <div class="new_player">Tim</div>
                <div class="new_player">Charles</div>
                <div class="new_player">Caleb</div>
                <div class="new_player">KingIvan</div>
                <div class="new_player">Charles</div>
                <div class="new_player">Caleb</div>
            </div>
        </div>
    </div>
    <div id="question_pending" class="phase_wrapper">
        <div class="phase_banner projector_visible hide_me">Question is being Locked In™...</div>
        <div class="hide_me player_visible ivan_visible status_message"><img src="{{ url_for('static', filename='images/LoadSpinner.png') }}"></div>
        <img src="{{ url_for('static', filename='images/IvanIceCream.png') }}" class="right_image widescreen_visible hide_me">
        <div class="centered_fullscreen_image L_BigDozingIvan mobilescreen_visible hide_me"></div>
        <!-- <img src="{{ url_for('static', filename='images/L_BigDozingIvan.png') }}" class="centered_fullscreen_image mobilescreen_visible hide_me"> -->
        <div id="add_new_question_form" class="admin_visible hide_me buttoned_form">
            <input type="text" id="intext_new_question" placeholder="Enter new question">
            <button id="button_add_new_question" onclick="addNewQuestion()">Lock In™ </button>
        </div>
    </div>
    <div id="answering_question" class="phase_wrapper">
        <!-- <div class="phase_banner">Answering Question</div> -->
        <div class="current_question admin_visible player_visible ivan_visible projector_visible hide_me phase_banner">
            What is Ivan's favorite candy when topped with chocolates?
        </div>
        <img src="{{ url_for('static', filename='images/IvanSuit.png') }}" class="bottom_left_image widescreen_visible hide_me">
        <div id="add_new_answer_to_current_question_form" class="player_visible ivan_visible hide_me buttoned_form">
            <input type="text" id="intext_new_answer" class="buttoned_intext" placeholder="Enter answer">
            <img src="{{ url_for('static', filename='images/BR_DozingIvan.png') }}" class="bottom_right_peek mobilescreen_visible hide_me">
            <button id="button_add_new_answer_to_current_question" class="intexted_button" onclick="addNewAnswerToCurrentQuestion()">Lock In™ </button>
        </div>
        <div id="live_counter_new_answers" class="projector_visible admin_visible hide_me live_counter">
            3/4 are Locked In™ 
        </div>

        <div class="live_wrapper">
            <div id="live_feed_new_answers" class="admin_visible hide_me live_feed">
                <div class="new_player">KingIvan: </I></div>
                <div class="new_player">Charles</div>
                <div class="new_player">Caleb</div>
                <div class="new_player">Tim</div>
                <div class="new_player">Charles</div>
                <div class="new_player">Caleb</div>
                <div class="new_player">KingIvan</div>
                <div class="new_player">Charles</div>
                <div class="new_player">Caleb</div>
            </div>
        </div>
    </div>
    <div id="voting_answer" class="phase_wrapper">
        <div class="current_question admin_visible player_visible ivan_visible projector_visible hide_me phase_banner">
            What is Ivan's favorite candy when topped with chocolates?
        </div>
        <div id="live_counter_new_voters" class="projector_visible admin_visible ivan_visible hide_me">
            3/4 are Locked In™ 
        </div>
        
        <img src="{{ url_for('static', filename='images/MOB_IvanFood.png') }}" class="right_image widescreen_visible hide_me">
        <img src="{{ url_for('static', filename='images/IvanPeek.png') }}" class="upper_right_image mobilescreen_visible hide_me">
        <div id="vote_for_user_form" class="player_visible projector_visible hide_me">
            <button>Almost Heaven</button>
            <button>West Virginia Blue RidgeD Mountains Shannadoah River</button>
            <button>Just Beat it with a Candy Cane of Epic Proportions</button>
            <button>Rocket League</button>
            <button>Lol Hehe What Chumminy</button>
        </div>
        <div class="live_wrapper">
            <div id="live_feed_new_voters" class="admin_visible hide_me live_feed">
                <div class="new_voter">${playerUsername} voted for ${votedForUsername}'s answer</div>
                <div class="new_voter">${playerUsername} voted for ${votedForUsername}'s answer</div>
                <div class="new_voter">${playerUsername} voted for ${votedForUsername}'s answer</div>
                <div class="new_voter">${playerUsername} voted for ${votedForUsername}'s answer</div>
                <div class="new_voter">${playerUsername} voted for ${votedForUsername}'s answer</div>
            </div>    
        </div>
        
        
    </div>
    <div id="showing_answers"  class="phase_wrapper">
        <div class="current_question admin_visible projector_visible hide_me phase_banner">
            What is Ivan's favorite candy when topped with chocolates?
        </div>
        <div class="hide_me player_visible ivan_visible status_message"><img src="{{ url_for('static', filename='images/LoadSpinner.png') }}"></div>
        <img src="{{ url_for('static', filename='images/L_PosingIvan.png') }}" class="bottom_left_image widescreen_visible hide_me">
        <!-- <img src="{{ url_for('static', filename='images/MOB_IvanLeggo.png') }}" class="centered_fullscreen_image mobilescreen_visible hide_me"> -->
        <div class="centered_fullscreen_image MOB_IvanLeggo mobilescreen_visible hide_me"></div>
        <div id="how_everyone_voted" class="projector_visible admin_visible hide_me">
            <div id="the_answer">West Virginia Blue RidgeD Mountains Shannadoah River</div>
            <div id="voted_for_it"><b>Caleb, Charles, KingIvan</b> thought it was KingIvan's answer...</div>
            <div id="answerer">It was KingIvan's answer!</div>
        </div>
    </div>
    <div id="showing_score" class="phase_wrapper">
        <div class="current_question admin_visible projector_visible hide_me phase_banner">
            What is Ivan's favorite candy when topped with chocolates?
        </div>
        <div class="hide_me player_visible ivan_visible status_message"><img src="{{ url_for('static', filename='images/LoadSpinner.png') }}"></div>
        <img src="{{ url_for('static', filename='images/MOB_IvanHats.png') }}" class="bottom_left_image widescreen_visible hide_me">
        <!-- <img src="{{ url_for('static', filename='images/BR_DozingIvanSeatBelt.png') }}" class="centered_fullscreen_image mobilescreen_visible hide_me"> -->
        <div class="centered_fullscreen_image BR_DozingIvanSeatBelt mobilescreen_visible hide_me"></div>
        
        <div id="how_everyone_scored" class="projector_visible admin_visible hide_me">
            <div id="this_round_scores">
                On this Question:
            </div>
            
            <div class="leaderboard_entry">
                <div class="leaderboard_username_score_group">
                    <div class="leaderboard_username">KingIvan</div>
                    <div class="leaderboard_score">90</div>
                </div>
                <div class="leaderboard_answer">West Virginia Blue RidgeD Mountains Shannadoah River</div>
            </div>
            <div class="leaderboard_entry">
                <div class="leaderboard_username_score_group">
                    <div class="leaderboard_username">KingIvan</div>
                    <div class="leaderboard_score">90</div>
                </div>
                <div class="leaderboard_answer">West Virginia Blue RidgeD Mountains Shannadoah River</div>
            </div>
            <div class="leaderboard_entry">
                <div class="leaderboard_username_score_group">
                    <div class="leaderboard_username">KingIvan</div>
                    <div class="leaderboard_score">90</div>
                </div>
                <div class="leaderboard_answer">West Virginia Blue RidgeD Mountains Shannadoah River</div>
            </div>
            <div class="leaderboard_entry">
                <div class="leaderboard_username_score_group">
                    <div class="leaderboard_username">KingIvan</div>
                    <div class="leaderboard_score">90</div>
                </div>
                <div class="leaderboard_answer">West Virginia Blue RidgeD Mountains Shannadoah River</div>
            </div>
            <div class="leaderboard_entry">
                <div class="leaderboard_username_score_group">
                    <div class="leaderboard_username">KingIvan</div>
                    <div class="leaderboard_score">90</div>
                </div>
                <div class="leaderboard_answer">West Virginia Blue RidgeD Mountains Shannadoah River</div>
            </div>
            <div class="leaderboard_entry">
                <div class="leaderboard_username_score_group">
                    <div class="leaderboard_username">KingIvan</div>
                    <div class="leaderboard_score">90</div>
                </div>
                <div class="leaderboard_answer">West Virginia Blue RidgeD Mountains Shannadoah River</div>
            </div>
            <div class="leaderboard_entry">
                <div class="leaderboard_username_score_group">
                    <div class="leaderboard_username">KingIvan</div>
                    <div class="leaderboard_score">90</div>
                </div>
                <div class="leaderboard_answer">West Virginia Blue RidgeD Mountains Shannadoah River</div>
            </div>
            <div class="leaderboard_entry">
                <div class="leaderboard_username_score_group">
                    <div class="leaderboard_username">KingIvan</div>
                    <div class="leaderboard_score">90</div>
                </div>
                <div class="leaderboard_answer">West Virginia Blue RidgeD Mountains Shannadoah River</div>
            </div>
        </div>
    </div>

    <div id="game_control_button_wrapper">
        <button id="button_advance_game_state" class="admin_visible hide_me" onclick="advanceGameState()">Go to next phase</button>
        <button id="button_start_over" class="admin_visible hide_me" onclick="startOver()">Start over</button>
    </div>
</body>
</html>